ul ul {
  margin-left: 32px;
  /* font-size: 95%; */
}
li {
  font-family: "Montserrat";
  font-size: 0.8em !important;
  font-weight: 300 !important;
  margin-top: 8px !important;
}

p {
  margin-top: 16px !important;
  margin-bottom: 32px !important;
  font-family: "Montserrat" !important;
  font-weight: 300 !important;
}

.language-js {
  font-family: "Source Code Pro" !important;
  font-size: 2vmin !important;
}

.language-jsx {
  font-family: "Source Code Pro" !important;
  font-size: 1.4vmin !important;
}
.foo {
  font-size: 2vim !important;
}

.spectacle-content {
  max-height: 100vh !important;
}

.spectacle-content p {
  color: white;
  font-size: 1em !important;
}

textarea {
  wrap: off !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto" !important;
  font-weight: 500 !important;
  text-transform: uppercase;
}

h5 {
  color: white !important;
}

h6 {
  color: lightslategray !important;
  font-weight: 400 !important;
}

code.sample {
  font-family: "Iosevka";
  font-size: 0.6em;
  background-color: rgb(42, 39, 52);
  display: block;
  word-wrap: break-word;
  white-space: pre;
  text-align: left;
  height: 100%;
}

code.inline {
  font-size: 90% !important;
}

li code {
  font-size: 80% !important;
}

h6 code {
  text-transform: none;
}

code.inline,
li code,
h6 code {
  font-family: "Iosevka" !important;
  /* font-size: inherit; */
  background-color: rgb(42, 39, 52);
  border-radius: 8px !important;
  padding: 2px 8px !important;
  border: 1px solid grey;
  color: white !important;
}
