/* #content { */
/*   width: 100%; */
/*   height: 100%; */
/*   background-color: grey; */
/*   display: grid; */
/*   grid-template-columns: 20% auto; */
/*   padding: 32px; */
/* } */

/* .sidebar { */
/*   grid-column: 1; */
/*   display: grid; */
/*   grid-template-rows: 30% auto; */
/* } */

/* .main { */
/*   grid-column: 2; */
/* } */

/* .gallery-controller { */
/*   grid-row: 1; */
/* } */

/* .gallery-list { */
/*   grid-row: 2; */
/* } */

.logo {
  animation: spin infinite 1s linear;
  width: 32px;
}
@keyframes spin {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(1, 1, 1, 360deg);
    filter: hue-rotate(360deg);
  }
}
